# 메이저리그 배럴 관하여
- 타율 0.5, 장타율 1.5이상을 생산하는 타구
- 최소 시속 98마일을 기록해야 함
- 98마일 기준 발사각도 26 ~ 30
- 100마일 ~ 116마일까지는 시속 1마일이 증가할 때마다 발사각도 2~3 증가
- 116마일 기준 발사각도 8 ~ 50

In [1]:
import pandas as pd
import numpy as np

In [2]:
batting_2018 = pd.read_csv('data/2018_batting.csv', encoding='cp949')
batting_2019 = pd.read_csv('data/2019_batting.csv', encoding='cp949')
batting_2020 = pd.read_csv('data/2020_batting.csv', encoding='cp949')
batting_2021 = pd.read_csv('data/2021_batting.csv', encoding='cp949')

batting = pd.concat([batting_2018, batting_2019,
                     batting_2020, batting_2021])

In [3]:
batting.columns = ['연도','경기코드','타구코드','선수코드',
                   '팀코드','이닝','타구속도','발사각도',
                   '타석결과','구속','구장']

In [4]:
batting['경기코드']

0        20180324HHWO0
1        20180324HHWO0
2        20180324HHWO0
3        20180324HHWO0
4        20180324HHWO0
             ...
17959    20210711LTSS0
17960    20210711LTSS0
17961    20210711LTSS0
17962    20210711LTSS0
17963    20210711LTSS0
Name: 경기코드, Length: 120745, dtype: object

In [5]:
def date(data):
    return pd.to_datetime(data.str[0:8])

def month(data):
    return pd.to_datetime(data.str[0:8]).dt.month

def day(data):
    return pd.to_datetime(data.str[0:8]).dt.day

batting['날짜'] = date(batting['경기코드'])
batting['월'] = month(batting['경기코드'])
batting['일'] = day(batting['경기코드'])

In [6]:
batting['날짜']

0       2018-03-24
1       2018-03-24
2       2018-03-24
3       2018-03-24
4       2018-03-24
           ...
17959   2021-07-11
17960   2021-07-11
17961   2021-07-11
17962   2021-07-11
17963   2021-07-11
Name: 날짜, Length: 120745, dtype: datetime64[ns]

In [7]:
batting = batting.drop(['경기코드','타구코드','팀코드'], axis=1)

In [36]:
batting = batting[['선수코드','날짜','연도','월','일','타구속도','발사각도',
                   '타석결과','구속','이닝','구장']]

batting.head()

    선수코드         날짜    연도  월   일    타구속도  발사각도  타석결과      구속  이닝  구장
0  62797 2018-03-24  2018  3  24  131.50  42.7   플라이  149.59   1  고척
1  76753 2018-03-24  2018  3  24  135.18   9.9   1루타  148.78   1  고척
2  71752 2018-03-24  2018  3  24  152.41   2.1   1루타  148.59   1  고척
3  62700 2018-03-24  2018  3  24  113.72  13.5   1루타  139.13   1  고척
4  68730 2018-03-24  2018  3  24   54.11  16.4  번트안타  134.07   2  고척

In [9]:
batting['날짜'].min(), batting['날짜'].max()

(Timestamp('2018-03-24 00:00:00'), Timestamp('2021-07-11 00:00:00'))

In [10]:
# 타구속도1 : 타구속도를 mph(마일)로 변환

batting['타구속도1'] = batting['타구속도'] * 0.621371

In [11]:
print("국내 평균 타구속도 :", batting['타구속도1'].mean())
print("국내 평균 발사각도 :", batting['발사각도'].mean())

국내 평균 타구속도 : 83.09729561876331
국내 평균 발사각도 : 17.394403909064394

In [35]:
display(batting.groupby('타석결과')['발사각도'].describe())
display(batting.groupby('타석결과')['타구속도'].describe())

             count       mean        std   min     25%    50%     75%   max
타석결과
1루타        29235.0   8.119682  11.573027 -34.0   0.500   8.50  14.200  67.9
2루타         8146.0  16.655180  10.439130 -50.2  11.200  17.10  22.300  65.4
3루타          672.0  19.226339  10.061552 -19.5  13.675  19.50  25.925  56.8
내야안타(1루타)   1810.0  -4.039613  12.745712 -52.4 -10.700  -4.00   1.900  81.7
땅볼아웃       26507.0  -7.601705   9.920718 -68.1 -13.300  -6.90  -1.700  80.0
번트아웃          44.0  -7.763636  25.037006 -62.7 -22.875 -13.05   4.125  66.6
번트안타          48.0  -9.900000  26.815088 -61.9 -27.450 -11.25   3.850  53.0
병살타         3085.0  -7.090470   8.335147 -60.3 -12.200  -6.40  -1.900  72.9
삼중살타           2.0 -13.650000   0.353553 -13.9 -13.775 -13.65 -13.525 -13.4
야수선택          52.0  -8.244231  11.121705 -39.9 -13.000  -8.25  -0.725  17.9
인필드플라이       331.0  63.776435   9.528324  24.0  59.950  64.40  69.200  81.9
직선타         3602.0   9.322238   4.177184  -0.3   6.100   8.35  12.800  25.2
파울플라이       4097.0  68.867220  13.900270   4.3  62.100  71.60  79.200  89.8
플라이        36540.0  39.004042  15.519426  -0.4  26.400  36.80  49.900  85.7
홈런          4732.0  28.781255   5.625442  15.5  24.700  28.20  32.400  50.1
희생번트         239.0 -13.031381  25.587707 -68.9 -30.100 -16.80   4.150  84.5
희생플라이       1603.0  31.907923  10.725092   9.9  23.200  31.00  40.200  80.8

,count,mean,std,min,25%,50%,75%,max
타석결과,,,,,,,,
1루타,29235.0,138.463661,18.343727,69.20,126.4900,142.390,152.6000,195.25
2루타,8146.0,146.996789,13.834776,72.30,141.3300,149.740,155.9575,180.81
3루타,672.0,146.953244,10.468100,95.35,142.3775,148.140,153.9450,170.67
내야안타(1루타),1810.0,127.464066,25.803755,29.23,113.3100,132.545,147.5625,175.60
땅볼아웃,26507.0,128.049032,24.700973,9.88,111.3400,132.540,147.6700,210.13
번트아웃,44.0,47.452500,15.006998,21.00,38.9325,43.840,51.8000,97.90
번트안타,48.0,49.841667,14.285267,21.45,39.0050,49.550,58.4200,78.16
병살타,3085.0,132.850467,22.222932,24.81,118.0200,137.300,150.1600,180.23
삼중살타,2.0,147.740000,1.682914,146.55,147.1450,147.740,148.3350,148.93
야수선택,52.0,117.096923,28.753212,61.85,96.5125,114.525,139.3075,168.43
인필드플라이,331.0,111.592598,20.388566,53.95,99.1400,114.400,126.8250,154.91
직선타,3602.0,138.483418,18.662789,43.89,127.2550,142.405,152.6100,174.05
파울플라이,4097.0,113.005253,18.629811,14.28,102.2700,115.660,126.0100,172.62
플라이,36540.0,131.195242,17.116513,13.61,122.4900,133.920,143.1300,178.54
홈런,4732.0,155.275731,7.373702,131.13,150.3200,155.430,160.3000,179.02
희생번트,239.0,36.291004,10.565161,14.04,29.6200,35.520,41.2000,74.25
희생플라이,1603.0,138.274735,10.899446,96.06,130.6600,138.610,146.0900,167.22

In [14]:
print("전체 타구 수 :", len(batting))

print("타구속도가 98 이상 :", len(batting[batting['타구속도1'] >= 98])) 

print("위에 2개 비율 :", len(batting[batting['타구속도1'] >= 98]) / len(batting['타구속도1']) * 100)

전체 타구 수 : 120745
타구속도가 98 이상 : 10933
위에 2개 비율 : 9.05461923889188

# 국내 배럴 기준을 적용해보자
참고 URL : http://www.spotvnews.co.kr/?mod=news&act=articleView&idxno=193801
- 타구 속도 155 ~ 160km 발사각도 22.5~35.0
- 타구 속도 160 ~ 165km 발사각도 20.0~37.5
- 타구 속도 165km 이상 발사각도 17.5~40.0

In [34]:
batting['배럴'] = np.where((batting['타구속도'] >= 155) & (batting['타구속도'] < 160) & (batting['발사각도'] >= 22.5) & (batting['발사각도'] < 35.0) 
                            |
                           (batting['타구속도'] >= 160) & (batting['타구속도'] < 165) & (batting['발사각도'] >= 20.0) & (batting['발사각도'] < 37.5) 
                            |
                           (batting['타구속도'] >= 165) & (batting['발사각도'] >= 17.5) & (batting['발사각도'] < 40.0), 1, 0)

barrel = batting[batting['배럴'] == 1]

In [30]:
print("전체 타구 수 :", len(batting))

print("배럴 타구 수 :", len(barrel)) 

print("배럴 타구 비율 :", len(barrel) / len(batting) * 100)

전체 타구 수 : 120745
배럴 타구 수 : 2697
배럴 타구 비율 : 2.233632862644416

In [32]:
print("전체 타구 타석 결과 :")
print(batting['타석결과'].value_counts())
print()

print("배럴 타구 타석 결과 :")
print(barrel['타석결과'].value_counts())

전체 타구 타석 결과 :
플라이          36540
1루타          29235
땅볼아웃         26507
2루타           8146
홈런            4732
파울플라이         4097
직선타           3602
병살타           3085
내야안타(1루타)     1810
희생플라이         1603
3루타            672
인필드플라이         331
희생번트           239
야수선택            52
번트안타            48
번트아웃            44
삼중살타             2
Name: 타석결과, dtype: int64

배럴 타구 타석 결과 :
홈런       2064
플라이       288
2루타       279
3루타        32
1루타        22
희생플라이      11
직선타         1
Name: 타석결과, dtype: int64

In [33]:
print("1루타 배럴 비율 :", len(barrel[barrel['타석결과'] == '1루타']) / len(batting[batting['타석결과'] == '1루타']) * 100)
print("2루타 배럴 비율 :", len(barrel[barrel['타석결과'] == '2루타']) / len(batting[batting['타석결과'] == '2루타']) * 100)
print("3루타 배럴 비율 :", len(barrel[barrel['타석결과'] == '3루타']) / len(batting[batting['타석결과'] == '3루타']) * 100)
print("홈런 배럴 비율 :", len(barrel[barrel['타석결과'] == '홈런']) / len(batting[batting['타석결과'] == '홈런']) * 100)

1루타 배럴 비율 : 0.07525226611937746
2루타 배럴 비율 : 3.4249938620181686
3루타 배럴 비율 : 4.761904761904762
홈런 배럴 비율 : 43.61792054099746